h1 {
  text-align: center;
  font-family: "Bubbler One";
  font-size: 50px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 100px;
  height: 100px;
}

.middlev {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.middleh {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


/*Another way of doing it*/


/*td:nth-of-type(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

tr:nth-of-type(2) td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}*/
