h1 {
  color        : red;
  border-color : rgb(97, 16, 233);
  border-width : 5px;
  border-style : solid;
}

p {
  color : blue;
}

h3 {
  color  : green;
  border : 1px dotted rgb(203, 22, 240);
}

li {
  color : #d5c0d0;
}

body {
  background        : url(http://apod.nasa.gov/apod/image/1305/ngc6960_FinalPugh.jpg);
  background-repeat : no-repeat;
  background-size   : auto;
}

.moved {
  color           : #f55959;
  text-decoration : line-through;
}

#first {
  background : #b0f20c;
}
